<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Competitie Uitslagen</div>
    <div class="panel-body" data-bind="visible: loading()">
        <p>Bezig met laden...</p>
    </div>
    <table class="table" data-bind="visible: !loading()">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Tijd</th>
                <th>Wedstrijd</th>
                <th>Uitslag</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: programma">
            <tr data-bind="css: { afgelast: IsAfgelast}">
                <th scope="row" data-bind="text: Datum, attr: {title: DatumVolledig}"></th>
                <td data-bind="text: Tijd"></td>
                <td data-bind="html: Wedstrijd"></td>
                <td data-bind="text: Uitslag"></td>
            </tr>
        </tbody>
    </table>
</div>
